# undefined values would be set to default, which is Sun-Earth system (for no particular reason)

#####	STAR
starmass		= 1     # mass of the central star, solar masses
rotation_period	= 30	# rotation period of the star, days
start_rphase	= 0.0	# starting phase of the stellar rotation

# set magnetic cycle and source files with phases
# the pofiles will be interpolated with splines to get profiles in between the observations
start_mphase	= 0.0	# starting phase of the magnetic cycle
magnetic_period	= 1096
add_input_file	= 130,	input/caseIV.s1 # time, path to a respective profiles path
add_input_file	= 495,	input/caseIV.s1
add_input_file	= 1205,	input/caseIV.s1
add_input_file	= 1850,	input/caseIV.s1
add_input_file	= 2230,	input/caseIV.s1
add_input_file	= 2570,	input/caseIV.s1


#####	PLANET
a				= 0.6	# semi-major axis of planet's orbit, AU
e				= 0.1	# eccentricity of the orbit
planetmass		= 12	# mass of the planet in Earth masses / Mj = 317.8165 * Me
w				= 2.1	# argument of periastron, radians
v0				= 0		# barycentric velocity, m/s


#####	DATA
SNR				    = 1e4		# gaussian noise added to line profile (if > 0)
digits			    = 2         # decimal digits to keep
max_eccentricity	= 0.4       # eccentricity limit for the fit
fit_stellar_rotation= true     # fit and subtract the stellar rotation period

time_source		= #times.dat 	# if not empty, time points would be read from the specified file
time_from		= 200
time_to			= 700
time_step		= 10
time_randomize	= true          # randomize the time points 
time_data		= output/times.dat 	# if not empty, time points would be saved into this file


#####	FILES

logfile				= output.log
outputfile 			= output/output.dat
rv_curves 			= output/orbit.dat
rv_data 			= output/observations.dat
rv_plot 			= output/orbit.pdf
periodogram_data 	= output/periodogram.dat
periodogram_plot 	= output/periodogram.pdf
profiles_path		= #output/profiles/{RV}.dat	# {N} would be replaced with number of the profile, can also use {RV} and {time}


#####	PLOTS

rv_curves_points 	= 500       # resolution of the curves (affects only the plot)
periodogram_low 	= 0.0001	# minimum frequency
periodogram_high 	= 10		# maximum frequency
periodogram_step 	= 1e-3		# frequency step
periodogram_units 	= p_log		# units for LSP plot. Acceptable values: f_log, p_log, f, p

rv_show 			= true
periodogram_show 	= true
progressbar         = true
